.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 24px 12px;
  background-size: 100% 100% !important;

  >h5 {
    height: 32px;
    line-height: 32px;
    padding-left: 24px;
    background-size: calc(100% - 24px) 100% !important;
  }
  .children {
    padding: 6px 12px;
    flex: 1;

    > div {
      position: relative;
      height: 100%;
    }
  }
}